

.nav-bar{
width:100%;
}

span.nav-item{
    font-size: 5vh;
    padding-left:15%;
    padding-right:15%;
    text-align: center;
    width:50%;

}
textarea{

}


li{
    list-style: none;
}

u

.price{

}

.info{

}

.input{
    display:block;
    width: 30%;
    margin-left:10%;
}
.input:first-child{
    margin-top:5%;
}

.textInfo{
    display:block;
    margin-left:10%;
    width:30%;
}

button{
    display:block;
    margin-left:10%;
    width:15%;
    background-color: dodgerblue;
}